# Cấu hình Cơ sở dữ liệu (Database)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=GearX
DB_USER=root
DB_PASS=

# Cấu hình Gửi thư (SMTP Email)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=ssl
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM_EMAIL=your_email@gmail.com
MAIL_FROM_NAME="Fashion Store Support"
